.content {
  width: 100%;
}

.table_container {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.tg {
    overflow: hidden;
    border: none;
}

tr:nth-child(odd) td{
    background-color: #4f58576e;
}

.tg td {
  border: none;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.313rem 0.625rem;
  word-break: normal;
  color: #fff;
}
.tg td a {
  color: #fff;
}

.tg th {
  background-color: #7b929b;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 1.333rem;
  font-weight: bold;
  overflow: hidden;
  padding: 0.625rem 0.938rem;
  word-break: normal;
  color: #fff;
}

.tg td:nth-child(1) {
    text-align: left;
}

.tg .th-rank {
  width: 50px;
  text-align: center;
}

.tg .th-team {
  width: 150px;
  text-align: center;
}

body {
  text-align: center;
}

.height-overflow-fix {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}
