@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

html,
body {
  background: radial-gradient(#e1e1e1, #495458);
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

h3 {
  margin-top: 0.4rem;
  margin-bottom: 1.6rem;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #ffffff9f !important;
  border-radius: 10px;
}

.card-header h2 {
  color: #000;
}

.logo {
  height: 100px;
  position: absolute;
  top: -60px;
  right: 10px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #495458;
  color: #e1e1e1;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  border-color: #495458 !important;
}

.primary_btn {
  color: #e1e1e1;
  background-color: #495458;
}

.primary_btn:hover {
  color: #000;
  background-color: white;
}

.links {
  color: 000;
}

.links a {
  margin-left: 4px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.social_icon {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.fa-facebook-square {
  color: #e1ce7a;
}

.fa-twitter-square {
  color: #e1ce7a;
}

.fa-youtube-square {
  color: #e1ce7a;
}
.forum_content {
display: flex;
}

.forum_content .banner_img {
  animation: appear 0.25s ease-in;
  width: 19%;
  height: 100%;
  object-fit: fill;
}

.navbar-nav {
  user-select: none;
}

.navbar-nav .active {
  cursor: default;
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .forum_content .banner_img {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .forum_content {
    height: calc(100% - 56px);
  }
}

@media only screen and (max-width: 500px) {
  .card-header img {
      width: 100px;
      height: 50px;
  }
  .card-header h2 {
      text-align: center;
  }
  .links span {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 320px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 100;}
}
